body {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times,
		"Times New Roman", "serif";
	font-variant-caps: small-caps;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
    width: 900px;
}

header {
    margin-bottom: 20px;
    font-size: 40px;
    border-bottom: 5px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.validationError {
	color: red;
}

.formDetails {
	display: inline-block; 
	width: 210px; 
	text-align: right;
	text-align: left;
	padding: 5px;
}

.newAccountLink {
    color: red;
}

.newAccountLink:hover {
    background-color: grey;
    color: black;
    border-bottom: 2px solid black;
}

.image {
    width: 900px;
}