body {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times,
    "Times New Roman", "serif";
    font-variant-caps: small-caps;
    clear: both;
    text-align: center;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    border-bottom: 5px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
}

.validationError {
    color: red;
}

.databaseProductList {
    margin: 0 auto;
}

.databaseProductList th,
.databaseProductList td {
    padding: 0 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;

}

.formDetails {
    display: inline-block;
    width: 210px;
    text-align: right;
    text-align: left;
    padding: 5px;
}

.button {
    background-color: darkgrey;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;;
}

.button:hover {
    color: black;
}

