<!DOCTYPE html>
<html>
<head>
<title>Account Form</title>
<link rel="stylesheet" th:href="@{/css/register.css}" />
</head>
<body>
	<h1>Maak nu een nieuw account aan om gebruik te maken van Nevvo Meubels</h1>

	<!--  											Account Form													 -->
	<form method="POST" th:action="@{/account}" th:object="${account}">

		<label class ="formDetails" for="username">Email: </label> <input type="text" name="email" th:field="*{email}" /> 
			<span class="validationError" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Dit veld moet ingevuld worden</span> </br>
			
			<label class ="formDetails" for="password">Wachtwoord: </label> <input type="password" name="password" /> 
			<span class="validationError" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Dit veld moet ingevuld worden</span> </br>
			
			<input type="submit" value="Verzend" />

	</form>
	

</body>
</html>