<!DOCTYPE html>
<html>
<head>
<title>Address Form</title>
<link rel="stylesheet" th:href="@{/css/accountForm.css}" />
</head>
<body>
	<h1>Adres maken</h1>

	<!--  											Address Form											 -->
	<form method="POST" th:action="@{/address}" th:object="${address}">

		<label for="streetName">Street name: </label> <input type="text" name="streetName" th:field="*{streetName}" />
		<label for="houseNumber">House number: </label> <input type="number" name="houseNumber" th:field="*{houseNumber}" />
		<label for="additionalHouseNumber">Additional House number: </label> <input type="text" name="additionalHouseNumber" th:field="*{additionalHouseNumber}" />    
		<label for="postalCode">Postal code: </label> <input type="text" name="postalCode" th:field="*{postalCode}" /> 
		<label for="city">City: </label> <input type="text" name="city" th:field="*{city}" /> 
		 <label for="country">Country: </label> <input type="text" name="country" th:field="*{country}" />    
		    
		   
		
		<input type="submit" value="createAddress" />

	</form>


</body>
</html>