<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
    <link rel="stylesheet" th:href="@{/css/links.css}"/>
</head>
<body>

<header> Contact</header>

<nav>
    <ul>
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/login}">Inloggen</a></li>
        <li><a th:href="@{/teamNevvo}">Team Nevvo</a></li>
        <li><a th:href="@{/projects}">Projecten</a></li>
        <li><a th:href="@{/contact}">Contact</a></li>
        <li><a th:href="@{/links}">Links</a></li>
    </ul>

</nav>
</br>
<main>
    <h3> Wilt u ook gebruik maken van Team Nevvo, de Java experts!</h3>
    <p> Neemt u dan contact op met Rob Steutel, en vertel uw wensen. Hij zal op een korte duur concact met ons opnemen.
        Wij zullen dan direct aan de slag gaan om een fantastische web applicatie te bouwen, helemaal volgens u
        wensen.</p>
    <p>Met vriendelijke groet,Team Nevvo</p>
</main>
<img th:src="@{/images/nevvoMeubel3.jpg}" alt="nevvoMeubels"
     class="image"/>
<div class="footer">Team Nevvo 2018 | All rights are reserved</div>
</body>
</html>