<!DOCTYPE html>
<html>
<head>
<title>Profile Form</title>
<link rel="stylesheet" th:href="@{/css/personForm.css}" />
</head>
<body>
	<h1>Vul hier je persoonlijke gegevens in. Deze zullen worden opgeslagen volgens AVG 2018.</h1>

	<!--  											Profile Form											 -->
	<form method="POST" th:action="@{/product}" th:object="${product}">

		<label class ="formDetails" for="name">Naam: </label> <input type="text" name="name" placeholder= "verplicht veld" th:field="*{name}" />
		<span class="validationError" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span> </br>
		
		
		<label class ="formDetails" for="price">Prijs: </label> <input type="text" name="price" placeholder= "verplicht veld" th:field="*{phoneNumber}" />
		<span class="validationError" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span> </br>
		
		
		<label class ="formDetails" for="stock">Voorraad: </label> <input type="text" name="stock" placeholder= "verplicht veld" th:field="*{phoneNumber}" />
		<span class="validationError" th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}"></span> </br>
		
			
		
		<input class= "formSubmitBtn" type="submit" value="Verzend" />

	</form>


</body>
</html>