<!DOCTYPE html>
<html>
<head>
<title>Address Form</title>
<link rel="stylesheet" th:href="@{/css/addressForm.css}" />
</head>
<body>
	<h1>Adres aanmaken</h1>

	<!--  											Address Form											 -->
	<form method="POST" th:action="@{/address}" th:object="${address}">

	<label class="formDetails" for="streetName">Straatnaam: </label> <input type="text" name="streetName" placeholder= "verplicht veld" th:field="*{streetName}" /></br> 
	<span class="validationError" th:if="${#fields.hasErrors('streetName')}" th:errors="*{streetName}"></span> </br> 
			
	<label class="formDetails" for="houseNumber">Huisnummber: </label> <input type="number" name="houseNumber" placeholder= "verplicht veld" th:field="*{houseNumber}" /> </br> 
	<span class="validationError" th:if="${#fields.hasErrors('houseNumber')}" th:errors="*{houseNumber}"></span></br> 
		 
	<label class="formDetails" for="additionalHouseNumber">Toevoeging huisnummer: </label> <input type="text" name="additionalHouseNumber" th:field="*{additionalHouseNumber}" /> </br> 
	<span class="validationError" th:if="${#fields.hasErrors('additionalHouseNumber')}" th:errors="*{additionalHouseNumber}"> </span> </br> 
			
	<label class="formDetails" for="postalCode">Postcode: </label> <input type="text" name="postalCode" placeholder= "verplicht veld" th:field="*{postalCode}" /> </br> 
	<span class="validationError" th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}"> </span> </br> 
	
	<label class="formDetails" for="city">Stad: </label> <input type="text" name="city" placeholder= "verplicht veld" th:field="*{city}" /> </br> 
	<span class="validationError" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></span> </br> 
		
	<label class="formDetails" for="country">Land: </label> <input type="text" name="country" placeholder= "verplicht veld" th:field="*{country}" /> </br> 
	<span class="validationError" th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></span> </br> 

	<input type="submit" value="Verzend" />


	</form>


</body>
</html>