<!DOCTYPE html>
<html>
<head>
<title>Profile Form</title>
<link rel="stylesheet" th:href="@{/css/personForm.css}" />
</head>
<body>
	<h1>Bestel uw product</h1>
	
	<!--  											Profile Form											 -->
	<form method="POST" th:action="@{/orderLine/createNewOrderLine}"
		th:object="${orderLine}">

		<label class="formDetails" for="name">Naam: </label> <input
			type="text" name="product.name" placeholder="verplicht veld"
			th:field="*{product.name}" /> <span class="validationError"
			th:if="${#fields.hasErrors('name')}" th:errors="*{product.name}"></span> </br> <label
			class="formDetails" for="numberOfProducts">Voorraad: </label> <input type="text"
			name="numberOfProducts" placeholder="verplicht veld" th:field="*{numberOfProducts}" /> <span
			class="validationError" th:if="${#fields.hasErrors('numberOfProducts')}"
			th:errors="*{numberOfProducts}"></span> </br> <input class="formSubmitBtn"
			type="submit" value="Verzend" />

	</form>


</body>
</html>