<!DOCTYPE html>
<html>
<head>
<title>Profile Form</title>
<link rel="stylesheet" th:href="@{/css/personForm.css}" />
</head>
<body>
	<h1>Huidige bestellingen</h1>
	
	<table>
    <tr>
    	<th>Aantal</th>
        <th>Naam</th>
        <th>Prijs p.st.</th>
        <th>Totale prijs</th>
     </tr></br>

        <tr th:each="orderLine: ${orderLines}">
        <td th:text="${orderLine.numberOfProducts}"></td>
        <td th:text="${orderLine.product.name}"></td>
        <td th:text="${orderLine.product.price}"></td>
    </tr>
</table>

    <form method="GET" th:action="@{/order/addOrderLineToOrder}">

        <input type="submit" value="Bestel nog een product"/>
    </form>

</body>
</html>