<!DOCTYPE html>
<html>
<head>
    <title>Profile Form</title>
    <link rel="stylesheet" th:href="@{/css/personForm.css}"/>
</head>
<body>
<h1>Huidige bestellingen</h1>

<table>
    <tr>
        <th>Aantal</th>
        <th>Naam</th>
        <th>Prijs p.st.</th>
        <th>Totaal per product</th>
    </tr>
    </br>

    <tr th:each="orderLine: ${orderLineList}">
        <td th:text="${orderLine.numberOfProducts}"></td>
        <td th:text="${orderLine.product.name}"></td>
        <td th:text="${orderLine.product.price}"></td>
        <td th:text="${orderLine.numberOfProducts * orderLine.product.price}"></td>
    </tr>
</table>
 <p th:text="${totalPrice}"></p>
	
<form method="GET" th:action="@{/orderLine/showNewOrderLineForOrderLineList}"></a>

    <input type="submit" value="Bestel nog een product"/>

</body>
<form method="GET" th:action="@{/order/currentOrder}"></a>

    <input type="submit" value="Plaats bestelling"/>
</form>
    </body>

</html>