<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Nevvo Meubels</title>
<link rel="stylesheet" th:href="@{/css/customerMainMenu.css}" />
</head>
<body>
	
	
	<div class="header">
		<div class="intro">
			<h1>Welkom op Nevvo Meubels:  <span th:text="${person.name}">Name</span> <span th:text="${person.lastName}">Last name</span></h1>
		</div>
		<div class="myAccount">
			<a th:href="@{/customer/personDetails}"> Mijn account</a>
		</div>
		<div class="myOrder">
			<a th:href="@{/orderLine}"> Mijn Bestellingen</a>
		</div>
		<div class="myProduct">
			<a th:href="@{/orderLine}"> Producten Bestellen</a>
		</div>
		
		<div class="logout">
			<a th:href="@{/}"> Uitloggen</a>
		</div>
	</div>
	
	<p>
		<span class="formDetails" th:text="${editMessage}">Message</span>
	</p>
	
	<div class="main">
		<p>Nevvo Meubels biedt een bonte verzameling van uitgesproken
			meubilair en originele accessoires. Dit zorgt voor verrassende
			combinaties en een uniek en eigen interieur. Een bezoek aan Home Stock
			brengt je inspiratie en daarmee nieuwe ideeen. Of dit nou in een van
			onze vier winkels is of in onze webshop.</p>
		
		<img th:src="@{/images/nevvoMeubel.jpg}" alt="nevvoMeubels" id="nevvoMeubel" class="image"/>
	</div>
</body>
</html>