<!DOCTYPE html>
<html>
<head>
<title>Account Form</title>
<link rel="stylesheet" th:href="@{/css/register.css}" />
</head>
<body>
	<h1>Verander je wachtwoord ... </h1>

	<!--  											Account Form													 -->
	<form method="POST" th:action="@{/account/editPassword}" th:object="${account}">

	
		<label class ="formDetails" for="password">Wachtwoord: </label> <input type="password" name="password" placeholder="vul wachtwoord in" th:field="*{password}" /> 
		<span class="validationError" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span> </br>
			
		<input type="submit" value="Verzend" />

	</form>
	

</body>
</html>