<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/home.css}" />
</head>
<body>

	<header> Links</header>

	<nav>
		<ul>
			<li><a th:href="@{/}">Home</a></li>
			<li><a th:href="@{/login}">Inloggen</a></li>
			<li><a th:href="@{/teamNevvo}">Team Nevvo</a></li>
			<li><a th:href="@{/projects}">Projecten</a></li>
			<li><a th:href="@{/contact}">Contact</a></li>
			<li><a th:href="@{/links}">Links</a></li>
		</ul>

	</nav>
	</br>

</body>
</html>