<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
    <link rel="stylesheet" th:href="@{/css/links.css}"/>
</head>
<body>

	<header> Links</header>

	<nav>
		<ul>
			<li><a th:href="@{/}">Home</a></li>
			<li><a th:href="@{/login}">Inloggen</a></li>
			<li><a th:href="@{/teamNevvo}">Team Nevvo</a></li>
			<li><a th:href="@{/projects}">Projecten</a></li>
			<li><a th:href="@{/contact}">Contact</a></li>
			<li><a th:href="@{/links}">Links</a></li>
		</ul>

	</nav>
	</br>
    <ol>
        <li><a class="newAccountLink" href="https://www.rsvier.nl/">RSVIER</a></li>
        <li><a class="newAccountLink" href="https://www.eclipse.org/">Eclipse</a></li>
        <li><a class="newAccountLink" href="https://netbeans.org/">Netbeans</a></li>
        <li><a class="newAccountLink" href="https://www.jetbrains.com/">IntelliJ</a></li>
        <li><a class="newAccountLink" href="https://github.com/">Github</a></li>
        <li><a class="newAccountLink" href="https://www.javaworld.com/">JavaWorld</a></li>
        <li><a class="newAccountLink" href="http://hibernate.org/">Hibernate</a></li>
        <li><a class="newAccountLink" href="https://spring.io/">Spring</a></li>
    </ol>
    <img th:src="@{/images/nevvoMeubel2.jpg}" alt="nevvoMeubels"
         class="image"/>
    <div class="footer">Team Nevvo 2018 | All rights are reserved</div>
</body>
</html>