<!DOCTYPE html>
<html>
<head>
    <title>Profile Form</title>
    <link rel="stylesheet" th:href="@{/css/currentOrder.css}"/>
</head>
<body>
<h1>Huidige bestellingen</h1>

: <table class="databaseProductList">
    <tr>
        <th>Bestellingnummer</th>
        <th>Bestellingsdatum</th>
        <th>Totale prijs</th>
        <th>Status</th>
    </tr>
    </br>

    <tr th:each="order: ${orderList}">
        <td th:text="${order.orderId}"></td>
        <td th:text="${order.orderDateTime}"></td>
        <td th:text="${order.totalPrice}"></td>
        <td th:text="${order.orderStatus}"></td>
    </tr>
</table>
<table class="databaseProductList">
    <tr>
        <th>Totale prijs van de bestelling</th>
    </tr>
</br>
    <td th:text="${totalPrice}"></td>
</table>

<form method="POST" th:action="@{/order/showOrderDetails}" th:object="${}">

    <label class ="formDetails" for="orderId">orderId: </label> <input type="text" name="orderId" placeholder="vul het bestelnummer in van de bestelling die u wilt bekijken." />
    <input type="submit" value="Bekijk"/>

</form>

</body>
</html>