<!DOCTYPE html>
<html>
<head>
    <title>Profile Form</title>
    <link rel="stylesheet" th:href="@{/css/currentOrder.css}"/>
</head>
<body>
<h1>Huidige bestellingen</h1>

<table class="databaseProductList">
    <tr>
        <th>Bestellingnummer</th>
        <th>Bestellingsdatum</th>
        <th>Totale prijs</th>
    </tr>
    </br>

    <tr th:each="order: ${orderList}">
        <td th:text="${order.orderId}"></td>
        <td th:text="${order.orderDateTime}"></td>
        <td th:text="${order.totalPrice}"></td>
    </tr>
</table>
<table class="databaseProductList">
    <tr>
        <th>Totale prijs van de bestelling</th>
    </tr>
</br>
    <td th:text="${totalPrice}"></td>
</table>
	

<form method="GET" th:action="@{/order/currentOrder}"></a>

    <input type="submit" value="Betalen"/>
</form>
    </body>

</html>