<!DOCTYPE html>
<html>
<head>
<title>Profile Form</title>
<link rel="stylesheet" th:href="@{/css/accountForm.css}" />
</head>
<body>
	<h1>Profile maken</h1>

	<!--  											Profile Form											 -->
	<form method="POST" th:action="@{/person}" th:object="${person,address}">

		<label for="name">Nmae: </label> <input type="text" name="name" th:field="*{name}" />
		<label for="lastName">Last name: </label> <input type="text" name="lastName" th:field="*{lastName}" /> 
		<label for="middleName">Middle name: </label> <input type="text" name="middleName" th:field="*{middleName}" />
		<label for="phoneNumber">Phone number: </label> <input type="text" name="phoneNumber" th:field="*{phoneNumber}" />
		<label for="streetName">Street name: </label> <input type="text" name="streetName" th:field="*{streetName}" />
		<label for="houseNumber">House number: </label> <input type="number" name="houseNumber" th:field="*{houseNumber}" />
		<label for="additionalHouseNumber">Additional House number: </label> <input type="text" name="additionalHouseNumber" th:field="*{additionalHouseNumber}" />    
		<label for="postalCode">Postal code: </label> <input type="text" name="postalCode" th:field="*{postalCode}" /> 
		<label for="city">City: </label> <input type="text" name="city" th:field="*{city}" /> 
		 <label for="country">Country: </label> <input type="text" name="country" th:field="*{country}" />    
		    
		   
		
		<input type="submit" value="createProfileAndAddress" />

	</form>


</body>
</html>