<!DOCTYPE html>
<html>
<head>
<title>Product Page</title>
<link rel="stylesheet" th:href="@{/css/addressForm.css}" />
</head>
<body>
	<h1>Productenbeheer Menu</h1>
	
	<form method="GET" th:action="@{/product/createNewProduct}"></a>

        <input class="buttonLogin" type="submit" value="Product Aanmaken"/>
	</form>
    </br>
		<form method="GET" th:action="@{/product/searchProduct}" >

            <input class="buttonLogin" type="submit" value="Product Zoeken"/>
	</form>
	
	
	
	
</body>
</html>