<!DOCTYPE html>
<html>
<head>
<title>Product Page</title>
<link rel="stylesheet" th:href="@{/css/addressForm.css}" />
</head>
<body>
	<h1>Dit is de productenbeheer menu</h1>
	<form method="GET" th:href="@{/product/createNewProduct}"></a> 
    
        <input type="submit" value="Product Aanmaken" />
	</form>
		<form method="POST" th:action="@{/product/editProduct}" th:object="${product}">
    
        <input type="submit" value="Product Aanpassen" />
	</form>
	
	<form method="POST" th:action="@{/product/deleteProduct}" th:object="${product}">
    
        <input type="submit" value="Product Verwijderen" />
	</form>
	
	
	
</body>
</html>