<!DOCTYPE html>
<html>
<head>
<title>Account Form</title>
<link rel="stylesheet" th:href="@{/css/accountForm.css}" />
</head>
<body>
	<h1>Account maken</h1>

	<!--  											Account Form													 -->
	<form method="POST" th:action="@{/account}" th:object="${account}">

		<label for="username">Email: </label> <input type="text" name="email" th:field="*{email}" /> 
			<span class="validationError" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Cannot be Empty</span> 
			
			<label for="password">Password: </label> <input type="password" name="password" /> 
			<span class="validationError" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Cannot be Empty</span>
			
			<input type="submit" value="createAccount" />

	</form>
	

</body>
</html>