<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Team Nevvo</title>
    <link rel="stylesheet" th:href="@{/css/links.css}"/>
</head>
<body>
	<header> Team Nevvo</header>

	<nav>
		<ul>
			<li><a th:href="@{/}">Home</a></li>
			<li><a th:href="@{/login}">Inloggen</a></li>
			<li><a th:href="@{/teamNevvo}">Team Nevvo</a></li>
			<li><a th:href="@{/projects}">Projecten</a></li>
			<li><a th:href="@{/contact}">Contact</a></li>
			<li><a th:href="@{/links}">Links</a></li>
		</ul>

	</nav>
	</br>
    <h3> Team Nevvo</h3>
	<ol>
        <li>Niels</li>
        <li>Eva</li>
        <li>Evy</li>
        <li>Volkan</li>
	</ol>
    <img th:src="@{/images/nevvoCode.png}" alt="nevvoMeubels"
         class="image"/>
	<div class="footer">Team Nevvo 2018 | All rights are reserved</div>
</body>
</html>